<h2>Booking </h2>

<%= form_for :booking, url: bookings_path do |f| %>
   
  <%= f.hidden_field :car_id,  :value => @car.id %>

  <div><%= f.label :pick_up_location,"Pick-up location" %><br />
  <%= f.text_field :pick_up_location, :autofocus=> true , :required => true%></div>

  <div><%= f.label :pick_up_time,"Pick-up time" %><br />
  <%= f.time_field :pick_up_time, :autofocus=> true , :required => true%></div>
  
  <div><%= f.label :drop_location,"Drop location" %><br />
  <%= f.text_field :drop_location, :autofocus=> true , :required => true%></div>  

  <div><%= f.submit %></div>
  
<% end %>


