<h2>Booking payment now</h2>


<table class="table table-striped">

  <tr>
    <td>  <strong>Pickup Date:</strong></td>
    <td>  <%= @booking.pick_up_date %></td>
  </tr>
 
  <tr>
    <td>  <strong>Drop Date:</strong></td>
    <td>  <%= @booking.drop_date %></td>
  </tr>

  <tr>
    <td>  <strong>Pick-up location:</strong></td>
    <td>  <%= @booking.pick_up_location %></td>
  </tr>

  <tr>
    <td>  <strong>Drop location:</strong></td>
    <td>  <%= @booking.drop_location %></td>
  </tr>

  <tr>
    <td>  <strong>Pick-up time:</strong></td>
    <td>  <%= @booking.pick_up_time %></td>
  </tr>

  <tr>
    <td>  <strong>Total price</strong></td>
    <td>  <%= @booking.total_cost %></td>
  </tr>
  
  <tr>
    <td>  <strong>Registration no:</strong></td>
    <td>  <%= @booking.car.registration_no %></td>
  </tr>
  
</table></p>

<%= submit_tag("Go Payment" ) %>
