<h2>Show Booking</h2>
<p id="pdf_link"><%= link_to "Download Ticket", download_booking_path(@booking), :class => 'btn btn-mini' %></p>
<p><table class="table table-striped">

  <tr>
    <td>  <strong>Name:</strong></td>
    <td>  <%= "#{current_user.fname} #{current_user.lname}" %></td>
  </tr>

  <tr>
    <td>  <strong>Pickup Date:</strong></td>
    <td>  <%= @booking.pick_up_date %></td>
  </tr>
 
  <tr>
    <td>  <strong>Drop Date:</strong></td>
    <td>  <%= @booking.drop_date %></td>
  </tr>

  <tr>
    <td>  <strong>Pick-up location:</strong></td>
    <td>  <%= @booking.pick_up_location %></td>
  </tr>

  <tr>
    <td>  <strong>Drop location:</strong></td>
    <td>  <%= @booking.drop_location %></td>
  </tr>

  <tr>
    <td>  <strong>Pick-up time:</strong></td>
    <td>  <%= @booking.pick_up_time %></td>
  </tr>

  <tr>
    <td>  <strong>Registration no:</strong></td>
    <td>  <%= @car.registration_no %></td>
  </tr>

  <tr>
    <td>  <strong>Total price</strong></td>
    <td>  <%= @booking.total_cost %></td>
  </tr>
  
 <tr>
    <td>  <strong>Image:</strong></td>
    <td>  <%= image_tag(@car.image)%></td>
  </tr>
</table></p>









