  <%= form_for @car do |f| %>

  <div>
    <% if @car.errors.any? %>
      <h2><%= pluralize(@car.errors.count, "Error") %> Please fill the right value:</h2>
    <% end %>
    
    <% @car.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>

  <br/>

  <div>
    <%= f.label :Title %>
    <%= f.text_field :title, :autofocus=> true , :required => true, :placeholder => "Please fill the car name" %>
  </div>

  <div>
    <%= f.label :no_of_seates,"No. of seates" %>
    <%= f.text_field :no_of_seates, :autofocus=> true , :require => true , :placeholder => "Select 4,5,6,7,8,9,10 seator"%>
  </div>
  <div>
    <%= f.label :cost_per_day,"Cost per day" %>
    <%= f.text_field :cost_per_day, :autofocus=> true, :placeholder => "Please fill the Per day cost", :required => true %>
  </div>
   
  <div>
    <%= f.label :Image %>
    <%= f.file_field :image %>
  </div>
 
  <div>
    <%= f.label :Milage %>
    <%= f.text_field :milage, :autofocus=> true , :placeholder => "Please fill the milage of the car", :required => true%>
  </div> 

  <div>
    <%= f.label :registration_no,"Registration no." %>
    <%= f.text_field :registration_no, :autofocus=> true, :placeholder => "Please fill the registration no.", :required => true %>
  </div>

  <div>
    <%= f.submit"submit", :class=>'sbt' %>
  </div>

<% end %>


