<h2>Car</h2>  

<%= form_for @car  do |f| %>
   
  <div><%= f.label :Title %><br />
  <%= f.text_field :title, :autofocus=> true , :required => true%></div>

  <div><%= f.label :no_of_seates,"No. of seates" %><br />
  <%= f.text_field :no_of_seates, :autofocus=> true , :required => true%></div>
  
  <div><%= f.label :Image %><br />
  <%= f.file_field :image %>
 

  <div><%= f.label :Milage %><br />
  <%= f.text_field :milage, :autofocus=> true , :required => true%></div> 

  <div><%= f.label :registration_no,"Registration no." %><br />
  <%= f.text_field :registration_no, :autofocus=> true ,:required => true %></div>

  <div><%= f.submit %></div>
  
<% end %>


