<h2> search vechile </h2>

 <%= form_tag(available_vehicles_cars_path, :remote => true ) do  %>

  <%= label_tag(:n, "No fo seates:") %>
  <%= text_field_tag(:no_of_seates, nil, :placeholder => "Plese select 4,5,6,7,8,9,10 seator", :autofocus=> true , :required => true, :class => "abc"  )%>
  
  <div id="sandbox-container" >
    <div class="input-append date" id="dp3" data-date="2014-01-01" data-date-format="yyyy-mm-dd">
        <%= label_tag(:p, "Pick up Date:") %>
        <%= text_field_tag(:pick_up_date, nil, :placeholder => "From Date", :autofocus=> true , :required => true )  %>
        <span class="add-on"><i class="icon-th"></i></span>
     </div>
  </div>

  <div id="sandbox-container" >
    <div class="input-append date" id="dp3" data-date="2014-01-01" data-date-format="yyyy-mm-dd">
        <%= label_tag(:d, "Drop Date:") %>
        <%= text_field_tag(:drop_date, nil, :placeholder => "To Date", :autofocus=> true , :required => true ) %>
        <span class="add-on"><i class="icon-th"></i></span>
     </div>
  </div>
  
  <%= submit_tag("Search" ) %>

  <% end %>
      
  <script>
     $('#sandbox-container .input-append.date').datepicker({});
  </script>
  
  <div id="show">
  </div>
 















