<h2>Show Car</h2>

<table class="table table-striped">
  <tr>
    <td>  <strong>Title:</strong></td>
    <td>  <%= @car.title %></td>
  </tr> 

  <tr>
    <td>  <strong>No. of seates:</strong></td>
    <td>  <%= @car.no_of_seates %></td>
  </tr>
  
  <tr>
    <td>  <strong>Cost per day</strong></td>
    <td>  <%= @car.cost_per_day %></td>
  </tr>

  <tr>
    <td>  <strong>Image:</strong></td>
    <td>  <%= image_tag(@car.image) %></td>
  </tr>
 
  <tr>
    <td>  <strong>Milage:</strong></td>
    <td>  <%= @car.milage %></td>
  </tr>

  <tr>
    <td>  <strong>Registration no:</strong></td>
    <td>  <%= @car.registration_no %></td>
  </tr>
</table>

<p><%= link_to 'booked_history', booked_history_car_path(@car), :remote => true, :class => 'btn btn-mini'%> </p>

<div id="show">
</div>
